html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Bahnschrift;
  color: hsl(0, 0%, 82%);
}
.header {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #100747;
}
.sidebar-and-content {
    display: flex;
    width: 100%;
    height: 100%;
}
.sidebar {
    display:flex;
    flex-grow: 1;
    background-color: #100747;
    border: 1px solid hsl(0, 0%, 82%);
}
.main-content {
    display: flex;
    flex-grow: 4;
    background-color: #140a5b;
    border: 1px solid hsl(0, 0%, 82%);
}